<div class="col-md-6">
    <h4>Book Manager</h4>
    <div class="list-group">
        @Html.ActionLink("View Books", "Index", "Chart", null, new { @class = "list-group-item" })
        @Html.ActionLink("View Chart", "DisplayChart", "Chart", null, new { @class = "list-group-item" })
        @Html.ActionLink("Show Chart", "ShowDisplay", "Chart", null, new { @class = "list-group-item" })
    </div>
</div>
