<!DOCTYPE html>
<html>
<head>
    <title>Book Stock Levels</title>
</head>
<body>
    <h1>Book Stock Levels</h1>
    <p>
        The following chart displays the books with the lowest stock levels
    </p>
    <p><img src="LowStockChart" /> </p>
</body>
</html>
