<!DOCTYPE html>
<html>
<head>
    <title>Most Popular Books</title>
</head>
<body>
    <h1>Most Popular Books</h1>
    <p>
        The following chart displays the books that were added to the most orders
    </p>
    <p><img src="MostPopularChart" /> </p>
</body>
</html>
