<!DOCTYPE html>
<html>
<head>
    <title>Show Total Sales</title>
</head>
<body>
    <h1>Book Total Sales</h1>
    <p>
        The following chart displays the books with the most total sales generated
    </p>
    <p><img src="TotalSalesChart" /> </p>
</body>
</html>


