<!DOCTYPE html>
<html>
<head>
    <title>Show Number Sales</title>
</head>
<body>
    <h1>Books Number of Sales</h1>
    <p>
        The following chart displays the books with the most number of sales
    </p>
    <p><img src="NumberSalesChart" /> </p>
</body>
</html>

