<html>



<head>

    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        #chart_container {
            width: 400px;
            height: 400px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>

</head>


<body>
  


    <div id="chart_container">
        <canvas id="bar_chart"></canvas>
    </div>

    <script>

        var repArray = "Book A" @*@Html.Raw(Json.Encode(ViewBag.REP));*@
        var totalsales ="1000" @*@Html.Raw(Json.Encode(ViewBag.TOTALSALES));*@

        var ctx = $("#bar_chart");
        var bacChart = new Chart(ctx, {

            type: 'bar',
            data:{
                labels:totalsales,
                datasets: [{
                    label: "BAR CHART",
                    data: repArray,
                    backgroundColor,["rgba(242,166,54,.5)", "rgba(145,65,72,.5)", "(144,60,40,5)"],
                    borderColor: ["rgb(242,166,54)", "rgb(145,166,72)", "rgb(144,60,40"],
                    borderWidth:1
                }]

            },

            options: {

                maintainAspectRatio: false,

                scales: {
                    yAxes: [{
                        ticks: {
                            brginAtZero: true
                        }
                    }]
                }

            }




        })