@*<script>
    function myFunction() {
        window.location = "/PreOrderBooks/ContactForm";
    }</script>*@
@model IEnumerable<e_Library.Core.Models.PreOrderBooks>

@{
    ViewBag.Title = "Pre-Order Form";
}

<h2>Pre-Order Form</h2>

<div class="form-group">
    <label class="control-label" for="focusedInput">Full Name</label>
    <input class="form-control" id="focusedInput" type="text" value="">
</div>
<div class="form-group">
    <label class="control-label" for="focusedInput">E-Mail Address</label>
    <input class="form-control" id="focusedInput" type="text" value="">
</div>
<div class="form-group">
    <label class="control-label" for="focusedInput">Contact Number</label>
    <input class="form-control" id="focusedInput" type="text" value="">
</div>



@*<button class="btn btn-primary" onclick="myFunction()">Confirm Order</button>*@

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Confirm Order</button>

<!-- Modal -->

<div class="modal fade bootstrap" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmed!</h4>
            </div>
            <div class="modal-body">
                <p>Your Pre-Order Request is confirmed. We will contact you once the book becomes available!</p>
                <button type="button" href="@Url.Action("Index", "Home")" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>
    function myFunction() {
        alert("Your Pre-Order Request is confirmed. We will contact you once the book becomes available!");
        window.location = "/PreOrderManager/DisplayPreOrders";
    }</script>
